################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SharedToolBox.Application/.vs/SharedToolBox/v15/Server/sqlite3
