<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Geral</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Home/Index">Dashboard</a></li>
                    <li><a href="~/Home/Index">Empréstimo</a></li>
                    <li><a href="~/Home/Index">Devolução</a></li>
                    <li><a href="~/Home/Index">Relatar Ocorrência</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Categoria/Index">Categoria</a></li>
                    <li><a href="~/Tipo/Index">Tipo</a></li>
                    <li><a href="~/Subtipo/Index">Subtipo</a></li>
                    <li><a href="~/Marca/Index">Marca</a></li>
                    <li><a href="~/Dominio/Index">Domínio</a></li>
                    <li><a href="~/Ferramenta/Index">Ferramenta</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-building"></i> Localidade <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Cidade/Index">Cidade</a></li>
                    <li><a href="~/Condominio/Index">Condomínio</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-user"></i> Profile <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Transacao/Index">Transação</a></li>
                    <li><a href="~/Funcionalidade/Index">Funcionalidade</a></li>
                    <li><a href="~/Permissao/Index">Permissão</a></li>
                    <li><a href="~/Usuario/Index">Usuário</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-table"></i> Administração <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="~/Composicao/Index">Composição</a></li>
                    <li><a href="~/Movimentacao/Index">Movimentação</a></li>
                    <li><a href="~/Ocorrencia/Index">Ocorrência</a></li>
                    <li><a href="~/Emprestimo/Index">Empréstimo</a></li>
                    <li><a href="~/Configuracoes/Index">Configurações</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>