@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KTAXTaskSchedulerMaster.cshtml";
}

    <h3>
        Ocorreu um erro Inesperado!</h3>
    <p>
        <b>Mensagem:</b><span>@ViewData["Mensagem"].ToString()</span>
        <br />
        <b>Stacktrace:</b> <span>@ViewData["Stack"].ToString()</span>
    </p>




